<h2>Project Editor</h2>

<input type="text" ng-model="editor.project.name" placeholder="Name">
<br>

<button ng-show="!editor.project._id" ng-click="editor.create();">Create!</button>
<button ng-show="editor.project._id" ng-click="editor.update();">Update!</button>
<button ng-show="editor.project._id" ng-click="editor.delete();">Delete!</button>

<h2>Watched Connectors</h2>
<ul>
  <li ng-repeat="connector in editor.project.connectors">
    <connector-detail connector="connector"></connector-detail>
    <button ng-click="editor.removeConnector(connector)">Remove</button>
  </li>
</ul>

<h2>Available connectors</h2>
<ul>
  <li ng-repeat="connector in editor.connectors">
    <connector-detail connector="connector"></connector-detail>
    <button ng-click="editor.addConnector(connector)">Add</button>
  </li>
</ul>
