<div>
  <h3>{{view.project.name}}
    <a ui-sref="projectEditor({id: view.project._id})">edit</a>
    <a ng-click="view.delete(detail.project)">delete </a>
  </h3>
  <user-detail user="view.project.user"></user-detail>
  <h4>{{view.project.url}}</h4>

  <div>Connectors ({{view.project.connectors.length}})
    <a ui-sref="connectorCreator({project_id: view.project._id})">New</a>
  </div>
  <ul ng-repeat="connector in view.project.connectors">
    <li><connector-detail connector="connector"></connector-detail></li>
    <ul ng-repeat="metric in connector.metrics">
      <li><metric-detail metric="metric"></metric-detail></li>
    </ul>
  </ul>
</div>
