<h2>Connector Editor</h2>
<input type="text" ng-model="editor.connector.name" placeholder="Name">
<br>
<input type="text" ng-model="editor.connector.endpoint" placeholder="Owner">
<br>
<button ng-show="!editor.connector._id" ng-click="editor.create();">Create!</button>
<button ng-show="editor.connector._id" ng-click="editor.update();">Update!</button>
<button ng-show="editor.connector._id" ng-click="editor.delete();">Delete!</button>

<h2>Available metrics</h2>
<ul>
  <li ng-repeat="metric in editor.connector.rawdata">{{metric}}</li>
</ul>
