<h2>User Editor</h2>

<input type="text" ng-model="editor.user.name" placeholder="Name">
<br>
<input type="text" ng-model="editor.user.email" placeholder="Email">
<br>
<input ng-show="!editor.user._id" type="text" ng-model="editor.user.password" placeholder="Password">
<br>
<button ng-show="!editor.user._id" ng-click="editor.create();">Create!</button>
<button ng-show="editor.user._id" ng-click="editor.update();">Update!</button>
<button ng-show="editor.user._id" ng-click="editor.delete();">Delete!</button>
